:root {
  font-family: "Montserrat";
  font-style: normal;
  --primary-font-weight: 700;
  --secondary-font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.body__simple-photo {
  position: relative;
  width: 1280px;
  height: 1626px;
  background: #ffffff;
}

.menu__list {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 620px;
  height: 15px;
  left: 330px;
  top: 31.5px;
}

.menu__item {
  height: 27px;
  font-weight: var(--primary-font-weight);
  font-size: 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}

.menu__link {
  text-decoration: none;
  color: #ff0000;
}

.img__poster {
  position: absolute;
  width: 1280px;
  height: 789px;
  left: 0px;
  top: 78px;
}

.main__menu {
  position: absolute;
  width: 1280px;
  height: 650px;
  left: calc(50% - 1280px / 2);
  bottom: 108px;
}

.main__name-description {
  position: absolute;
  width: 774px;
  height: 29px;
  left: 253px;
  top: 48px;
  font-weight: var(--primary-font-weight);
  font-size: 22px;
  line-height: 27px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
}

.main__description-foreword {
  position: absolute;
  display: block;
  width: 1145px;
  height: 132px;
  left: 67.5px;
  top: 115px;
  font-weight: var(--secondary-font-weight);
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}

.main__description-clarification {
  position: absolute;
  width: 1145px;
  height: 216px;
  left: 67.5px;
  top: 275px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  color: #373737;
}

.main__btn {
  position: absolute;
  width: 191px;
  height: 51px;
  left: 544.5px;
  top: 557px;
  background: #ff0000;
  border-radius: 4px;
}

.btn-start {
  position: absolute;
  width: 106px;
  height: 16px;
  left: 587px;
  top: 575px;
  font-weight: var(--primary-font-weight);
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__menu {
  position: absolute;
  width: 1070px;
  height: 39px;
  right: 105px;
  bottom: 29px;
}

.footer__notice {
  position: absolute;
  width: 463px;
  height: 39px;
  left: 608px;
  top: 0px;
  font-weight: var(--primary-font-weight);
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 2.4px;
  color: #373737;
}
